html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#ui {
  z-index: 1000;
}

#top-bar {
  position: absolute;
  background-color: #554035;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 50%;
  top: 0px;
  width: 800px;
  height: 67px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#top-bar-insides {
  width: 780px;
  height: 47px;
  border-radius: 5px;
  background-color: #e0d3cc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #6d6059;
}

.top-bar-item img {
  width: 20px;
  height: 20px;
}

#bottom-bar {
  position: absolute;
  background-color: #554035;
  border-top-right-radius: 5px;
  left: 50%;
  bottom: 0px;
  width: 975px;
  height: 120px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

#bottom-bar-insides {
  width: 955px;
  height: 100px;
  border-radius: 5px;
  background-color: #e0d3cc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#bottom-bar-categories {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 120px;
  justify-content: flex-start;
  left: 0;
}

.bottom-bar-category {
  background-color: #e0d3cc;
  border: 2px solid #554035;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.bottom-bar-category.select {
  background-color: #554035;
  color: #e0d3cc;
  font-weight: 800;
}

.bottom-bar-category:hover {
  background-color: #6a4a3f;
  color: #e0d3cc;
}

.bottom-bar-category.select:hover {
  background-color: #4a352a;
}
